---
import ContextMenu from './context-menu.astro'

export interface Props { }

const { } = Astro.props;
---

<div class="nft-content" id="nft-content">
    <ContextMenu />
    <slot />
</div>

<script>
    const element = document.getElementById('nft-content');
    const contextElement = document.getElementById('context-menu');

    if (element && contextElement) {
        element.addEventListener('contextmenu', (e) => {
            e.preventDefault();

            contextElement.style.display = contextElement.style.display === 'flex' ? 'none' : 'flex';
        });
    }
</script>

<style>
    .nft-content {
        width: 100%;
        height: calc(100% - 70px);
        overflow: hidden;
        perspective: 1000px;
    }
</style>