---
import type { LicenseManager } from '../package/license-manager';
import ContextMenu from './context-menu.astro'

export interface Props {
    licenseManager?: LicenseManager
}

const {
    licenseManager
} = Astro.props;
---

<div class="nft-content" id="nft-content">
    <ContextMenu licenseManager={licenseManager} />
    <slot />
</div>

<script>
    let contextMenuOpen = false;
    const element = document.getElementById('nft-content');
    const contextElement = document.getElementById('context-menu');

    if (element && contextElement) {
        element.addEventListener('contextmenu', (e) => {
            e.preventDefault();
            contextMenuOpen = !contextMenuOpen;
            console.log('clicked', contextMenuOpen);

            contextElement.style.display = contextMenuOpen ? 'flex' : 'none';
        });
    }
</script>

<style>
    .nft-content {
        width: 100%;
        height: calc(100% - 70px);
        overflow: hidden;
        perspective: 1000px;
    }
</style>