---
export interface Props {
    size: {
        width: string;
        height: string;
    };
    backGroundColor?: string;
}

const { size } = Astro.props;
---

<div class="nft-container">
    <slot />
</div>

<script>
    const buttonTest = document.getElementById("buttonTest");

    if (buttonTest) {
        buttonTest.addEventListener("click", async () => {
            /* window.app?.licenseManager?.download(); */
            console.log("[CLICLADO]")
        });
    }
</script>

<style define:vars={{ width: size.width, height: size.height }}>
    .nft-container {
        width: var(--width);
        height: var(--height);
    }
</style>